@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Montserrat:wght@100&family=Oswald:wght@300&family=Rubik+Wet+Paint&family=Titillium+Web:ital,wght@1,300&display=swap');
p {
color: red;
font-family:"Comfortaa";
position: absolute;
top: 100px;
left: 600px;
font-size: 60px;

}
.main {
    padding: 100px;
    right: 30px;
}